
<h1>What cards are in Oath of the Gatewatch?</h1>

<section>

  <h2>Oath of the Gatewatch Cards</h2>

  <h3>
    <%= link_to 'All', ogw_index_path %>
     |
    <%= link_to 'White', oath_of_the_gatewatch_white_path %>
     |
    <%= link_to 'Blue', oath_of_the_gatewatch_blue_path %>
     |
    <%= link_to 'Black', oath_of_the_gatewatch_black_path %>
     |
    <%= link_to 'Red', oath_of_the_gatewatch_red_path %>
     |
    <%= link_to 'Green', oath_of_the_gatewatch_green_path %>
  </h3>

  <div class="card-set">

    <% @ogw_cards.each do |card| %>

      <div class="cards-card">

        <a href="<%= card_path(card) %>">

          <img src="<%= card.image_url %>" />

        </a>

      </div>

    <% end %>

  </div>

  <%= will_paginate @ogw_cards %>

</section>
