<div id="set-<%= set.code %>" class="<%= 'is-added' if $standard_codes.include? set.code %>">

  <%= set.name %> | <%= set.code %> |

  <%= form_for @standard, remote: true, :html => {:class => "add-set-to-starndard-form"}  do |f| %>

    <%= f.hidden_field :name, :value => set.name %>

    <%= f.hidden_field :short_name, :value => set.code %>

    <a href="#add-set-to-starndard" class="add-set-to-starndard add-button">Add</a>

  <% end %>

  <% if $standard_codes.include? set.code %>

    <% this_set = Standard.find_by_short_name(set.code) %>

    <% if defined?(this_set.id) %>

      <%= link_to 'Destroy', standard_path(this_set.id), method: :delete, remote: true, class: 'remove-set-from-standard remove-button' %>

      <span class="amount-of-cards-in-set"><%= getTotalCardsInSet(this_set) %></span>

      <strong>Admin control:</strong>

      <%= link_to "add this set to the db", { action: "import_set", :set_code => set.code }, remote: true %>

      <%= link_to "delete this set from the db", { action: "delete_set_and_cards", :set_code => set.code, :set_code_upper => set.code }, remote: true %>

    <% end %>

  <% end %>

</div>
