<div>
  <h2>Add a color:</h2>

  <%= form_for(@color) do |f| %>
    <p>
      <%= f.label :color %><br>
      <%= f.text_field :color %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <% @colors.each do |color| %>

    <p><%= color.color %> <%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% end %>
</div>
