<section class="admins-page-section mod-colors">

  <h2>Add a color:</h2>

  <%= form_for(@color) do |f| %>

    <p>

      <%= f.label :color %><br>

      <%= f.text_field :color %>

    </p>

    <p>

      <%= f.submit %>

    </p>

  <% end %>

  <h2>Colors</h2>

  <div class="admins-page-section-edit">

    <% @colors.each do |color| %>

      <div class="admin-page-section-edit-item">

        <%= color.color %>

        <div class="admin-page-section-edit-item-controls">

          <%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>

      </div>

    <% end %>

  </div>

</section>

<section class="admins-page-section mod-subtypes">

  <h2>Add a subtype:</h2>

  <%= form_for(@subtype) do |f| %>

    <p>

      <%= f.label :name %><br>

      <%= f.text_field :name %>

    </p>

    <p>

      <%= f.submit %>

    </p>

  <% end %>

  <h2>Subtypes:</h2>

  <div class="admins-page-section-edit">

    <% @subtypes.each do |subtype| %>

      <div class="admins-page-section-edit-item">

        <%= subtype.name %>

        <div class="admins-page-section-edit-item-controls">

          <%= link_to 'Destroy', subtype, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>

      </div>

    <% end %>

  </div>

</section>

<section class="admins-page-section mod-mechanics">

  <h2>Add a mechanic:</h2>

  <%= form_for(@mechanic) do |f| %>

    <p>

      <%= f.label :name %><br>

      <%= f.text_field :name %>

    </p>

    <p>

      <%= f.submit %>

    </p>

  <% end %>

  <div class="admins-page-section-edit">

    <% @mechanics.each do |mechanic| %>

      <div class="admins-page-section-edit-item">

        <%= mechanic.name %>

        <div class="admins-page-section-edit-item-controls">

          <%= link_to 'Destroy', mechanic, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>

      </div>

    <% end %>

  </div>

</section>

<section class="admins-page-section mod-standards">

  <h2>Add a set to standard:</h2>

  <%= form_for(@standard) do |f| %>

    <p>

      <%= f.label :name %><br>

      <%= f.text_field :name %>

    </p>

    <p>

      <%= f.submit %>

    </p>

  <% end %>

  <div class="admins-page-section-edit">

    <% @standards.each do |standard| %>

      <div class="admin-page-section-edit-item">

        <%= standard.name %>

        <%#

          need to make it so that the set names are populated from a select of the mtg sdk api

          need to create the inputs for shortname and logo

        #%>

        <div class="admin-page-section-edit-item-controls">

          <%= link_to 'Destroy', standard, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>

      </div>

    <% end %>

  </div>

</section>

<section class="admins-page-section mod-rarities">

  <h2>Add a rarity:</h2>

  <%= form_for(@rarity) do |f| %>

    <p>

      <%= f.label :rarity %><br>

      <%= f.text_field :rarity %>

    </p>

    <p>

      <%= f.submit %>

    </p>

  <% end %>

  <div class="admins-page-section-edit">

    <% @rarities.each do |rarity| %>

      <div class="admins-page-section-edit-item">

        <%= rarity.rarity %>

        <div class="admins-page-section-edit-item-controls">

          <%= link_to 'Destroy', rarity, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>

      </div>

    <% end %>

  </div>

</div>
