<% @sections.each do |section| %>

  <section class="admins-page-section mod-<%= section[:name].downcase %> <%= "is-open expanded" if section == @sections.first %> ">

    <h2><%= section[:name] %>: <a href="#show-more" class="toggle-section show-more">+</a><a href="#show-less" class="toggle-section show-less">-</a></h2>

    <div class="admins-page-section-edit">

      <% section[:section].each do |section| %>

        <div class="admins-page-section-edit-item">

          <% section.attributes.each do |attribute| %>

            <% unless @dont.include? attribute[0].to_s  %>


                <div class="admins-page-section-edit-item-attributes-attribute mod-<%= attribute[0] %>">

                  <% if attribute[1] and attribute[1].include? 'amazonaws.com' %>

                    <%= image_tag attribute[1] %>

                  <% else %>

                    <%= attribute[1] %>

                  <% end %>

              </div>

            <% end %>

          <% end %>

          <div class="admin-page-section-edit-item-controls">

            <%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>

        </div>

      <% end %>

    </div>

    <div class="admins-page-section-add">

      <h2>Add a <%= section[:name]%>:</h2>

      <%= form_for(section[:newSection]) do |f| %>

        <% section[:newSection].attributes.each do |attribute| %>

          <% unless @dont.include? attribute[0].to_s  %>

            <div>

              <%= f.label attribute[0] %>

              <%= f.text_field attribute[0] %>

            </div>

          <% end %>

        <% end %>

        <p>

          <%= f.submit %>

        </p>

      <% end %>

    </div>

  </section>

<% end %>
