<div class="search">

  <%= search_form_for @search, url: request.original_url do |f| %>

    <div class="search-input">

      <%= f.label :info_cont, " Search" %>

      <%= f.text_field :info_cont %>

      <div class="actions"><%= f.submit "submit" %> </div> |

      <a class="advanced expander" href="#advanced">Advanced +</a>

    </div>

    <div class="advanced-search expanded">

      <% $models.each do |search_item| %>

        <div class="advanced-search-by search-<%= search_item[1].downcase %>">

          <div class="advanced-search-by-heading"><%= search_item[1] %></div>

          <% search_item[0].each do |search_by| %>

            <div class='advanced-search-by-item'>

              <% if search_item[2].downcase == 'set' %>

                <%= check_box_tag("q[" + search_item[2].downcase + "_cont_all][]", search_by[:short_name]) %>

                <% elsif search_item[2].downcase == 'mechanics' %>

                  <%= check_box_tag("q[text_cont_any][]", search_by[:name]) %>

                <% elsif search_item[2].downcase == 'mechanics' %>

                  <%= check_box_tag("q[text_cont_any][]", search_by[:name]) %>

                <% else %>

                  <%= check_box_tag("q[" + search_item[2].downcase + "_cont_any][]", search_by[:name]) %>

              <% end %>

              <%= search_by[:name] %>

            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>

</div>
