<div class="search">

  <%= search_form_for @search do |f| %>

    <div class="search-input">

      <%= f.label :info_cont, " Search" %>

      <%= f.text_field :info_cont %>

      <div class="actions"><%= f.submit "submit" %> </div> |

      <a class="advanced expander" href="#advanced">Advanced +</a>

    </div>

    <div class="advanced-search expanded">

      <div class="search-colors">

        <% $colors.each do |color| %>

          <%= check_box_tag('q[colors_cont_any][]', color[:name]) %>

          <%= color[:name] %>

        <% end %>

      </div>

      <%# maybe make some what rare cards are in standard, what common cards are in standard...ect pages  %>
      <div class="search-rarity">

        <% $rarities.each do |rarity| %>

          <%= check_box_tag('q[rarity_cont_any][]', rarity[:name]) %>

          <%= rarity[:name] %>

        <% end %>

      </div>

      <div class="search-mechanics">

        <% $mechanics.each do |mechanic|   %>

          <div class='search-mechanics-mechanic'>

            <%= check_box_tag("q[text_cont_any][]", mechanic.name) %>

            <%= mechanic.name %>

          </div>

        <% end %>

      </div>

      <div class="search-subtypes">

        <% $subtypes.each do |subtype|   %>

          <div class='search-subtypes-subtype'>

            <%= check_box_tag("q[subtypes_cont_any][]", subtype.name) %>

            <%= subtype.name %>

          </div>

        <% end %>

      </div>

    </div>

  <% end %>

</div>
