
<h1>What cards are in the Battle For Zendikar set?</h1>

<section>

  <h2>Battle For Zendikar</h2>

  <h3>
    <%= link_to 'All', bfz_index_path %>
     |
    <%= link_to 'White', battle_for_zendikar_white_path %>
     |
    <%= link_to 'Blue', battle_for_zendikar_blue_path %>
     |
    <%= link_to 'Black', battle_for_zendikar_black_path %>
     |
    <%= link_to 'Red', battle_for_zendikar_red_path %>
     |
    <%= link_to 'Green', battle_for_zendikar_green_path %>
  </h3>

  <div class="card-set">

    <% @bfz_cards.each do |card| %>

      <div class="cards-card">

        <a href="<%= card_path(card) %>">

          <img src="<%= card.image_url %>" />

        </a>

      </div>

    <% end %>

  </div>

  <%= will_paginate @bfz_cards %>

</section>
