
<div class="messages"></div>

<div><%= link_to "get item", { action: "ebayGetItem" }, remote: true, class: 'ebay-options=panel-link mod-send-to-ebay' %></div>


<ul class="auctions">

  <% @GetOrders["active_list"]["item_array"]["item"].each do |item| %>

    <li>

      <div class="the-auctions-acution">

        <div class="the-auctions-acution-item mod-title"><%= link_to item["title"], item["listing_details"]["view_item_url"] %></div>

        <%#<div>Has Questions?: <%= item["listing_details"]["has_unasnswered_questions"] %/></div>%>

        <div class="the-auctions-acution-item mod-quantity">Quantity: <%= item["quantity"] %></div>

        <div class="the-auctions-acution-item mod-price">Price: <%= item["selling_status"]["current_price"] %></div>

        <div class="the-auctions-acution-item mod-ending">Ends: <%= item["time_left"] %></div>

        <div class="the-auctions-acution-item mod-photo"><%= image_tag item["picture_details"]["gallery_url"] %></div>

        <ul class="auctions-auction">

          <li class="auctions-auction-item mod-details"><a href="" data-make-active="auctions-auction" class="auctions-auction-item-details-link">Details</a></li>

          <% item.each do |k, v| %>

            <li class="auctions-auction-item">

              <%= render 'loop_hash', :k => k, :v => v %>

            </li>

          <% end %>

        </ul>

      </div>

    </li>

  <% end %>

</ul>
