
<h1>What cards are in Shadows over Innistrad?</h1>

<section>

  <h2>Shadows over Innistrad Cards</h2>

  <h3>
    <%= link_to 'All', soi_index_path %>
     |
    <%= link_to 'White', shadows_over_innistrad_white_path %>
     |
    <%= link_to 'Blue', shadows_over_innistrad_blue_path %>
     |
    <%= link_to 'Black', shadows_over_innistrad_black_path %>
     |
    <%= link_to 'Red', shadows_over_innistrad_red_path %>
    |
   <%= link_to 'Green', shadows_over_innistrad_green_path %>
    |
   <%= link_to 'Artifact', shadows_over_innistrad_artifact_path %>
  </h3>

  <div class="card-set">

    <%= render 'templates/cards', :cards => @ori_cards %>

  </div>

  <%= will_paginate @soi_cards %>

</section>
