

<div id="modal">

  <div class="modal">

    <div class="modal-exit">

      Send to ebay

      <span><%= link_to image_tag(image_path("close.png"), :class => 'modal-exit-image'), '', :'data-modal' => "close" %></span>

    </div>

    <section>

      <%= form_tag({controller: "dashboards", action: "ebayRequest"}, method: "post", class: "send-to-ebay-form", remote: true) do %>

        <%= hidden_field_tag 'multiverseid', multiverseid %>

        <div class="send-to-ebay-form-item mod-title">

          <label class="modal-label">Title</label>

          <input class="modal-input" name="title" value='<% if @pcard.amount >= 4 %>4<% else %><%= @pcard.amount %><% end %><%= " X #{@card.name} - #{@card.setName} | Standard MTG Card" %>' />

        </div>

        <div class="send-to-ebay-form-item mod-quanitiy">

          <label class="modal-label">Quanitiy</label>

          <%= select_tag("quantity", options_for_select(1..40, (@pcard.amount / 4).round) , :class => "modal-select mod-quanitiy ") %>

        </div>

        <div class="send-to-ebay-form-item mod-price">

          <label class="modal-label">Price: <%= @card.tcg_prices.last.avgprice %>(Per Item)</label>

          <% if @pcard.amount >= 4 %>

            <% amount = 4 %>

          <% else %>

            <% amount = @pcard.amount %>

          <% end %>

          <input name="price" class="modal-input" value='<%= @card.tcg_prices.last.avgprice * amount %>' />

        </div>

        <div class="send-to-ebay-form-item mod-description">

          <label class="modal-label">Description</label>

          <%= tinymce %>

          <script type="text/javascript">
          tinyMCE.init({
            encoding: "xml",
            entity_encoding : "raw"
          });
          </script>

          <textarea class="tinymce" name="description" rows="20">

            <p><strong>Card Name:</strong> <%= @card.name %></p>

            <p><strong>Card Set:</strong> <%= @card.setName %></p>

            <% if @card['info']['legalities'] %>

              <p>

                <strong>Legal Sets:</strong>

                <% @card['info']['legalities'].each do |set| %>

                  <%= set["format"] %><%= ',' unless set == @card['info']['legalities'].last %>

                <% end %>

              </p>
            <% end %>

            <div>

              <% if @text %>

                <strong>Card Text:</strong>

                <p><%= @text %></p>

              <% end %>

              <% if @card.flavor %>

                <p><%= @card.flavor.html_safe %></p>

              <% end %>

            </div>

            <div>

              <% if @card.rulings.count >= 1 %>

                <strong>Card Rulings</strong>

                <% @card.rulings.each do |ruling| %>

                  <p><strong><%= ruling['date'] %>:</strong> <%= simple_format(ruling['text']).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></p>

                <% end %>

              <% end %>

            </div>

          </textarea>

        </div>

        <div class="send-to-ebay-form-item mod-image">

          <label class="modal-label">Image</label>

          <div>

            <%= image_tag @card.image_url_normal %>

          </div>

        </div>

        <div class="send-to-ebay-form-item mod-buttons">

          <a href="" data-modal="close">Close</a>

          <div><%= submit_tag 'Send' %></div>

        </div>

      <% end %>

    </section>

  </div>

</div>
