<% @pcard = current_user.pcards.find_by! card_id: card.multiverseid %>

<div class="pcard" id="card<%= @pcard.id %>">

  <div class="pcard-amount"><%=@pcard.amount %></div>

  <%= form_for([current_user, @pcard], remote: true, :html => { :class => "edit_pcard"}) do |f| %>

    <a class="cards-card-link" href="<%= card_path(card) %>">

      <img src="<%= card.image_url %>" />

    </a>

    <div class="add-to-collection has-card">

      <%= select_tag("pcard[amount]", options_for_select(1..10, @pcard.amount ), :class => "add-to-collection-amount") %>

    </div>

  <% end %>

  <div class="card-options">

    <%= link_to 'Destroy Card', user_pcard_path(current_user, @pcard), :method => :delete, :remote => true %>

    <div class="ebay-options expanded">

      <a href="" data-expand class="ebay-options-link">To Ebay >></a>

      <div class="ebay-options-panel">

        <%= link_to "Send to Ebay", { action: "ebayRequest", :command => ':VerifyAddFixedPriceItem' }, remote: true, class: 'ebay-options=panel-link mod-send-to-ebay' %>

      </div>

    </div>

  </div>

</div>
