<div class="pcard-price-expander">

  <div class="pcard-price-expander-item"><label>Card Spread:</label> <%= getCardSpread(@pcard.price, card.tcg_prices.last.avgprice) if @pcard.price && card.tcg_prices.last.avgprice %></div>

  <div class="pcard-price-expander-item"><label>Currrent Price:</label> $<%= card.tcg_prices.last.avgprice %></div>

  <div class="pcard-price-expander-item"><label>Benchmark Price:</label> $<%= @pcard.price %></div>

  <div class="pcard-price-expander-item"><label>Card High Price:</label> $<%= getCardHigh(card) %></div>

  <div class="pcard-price-expander-item"><label>Card Low Price:</label> $<%= getCardLow(card) %></div>

  <div class="pcard-price-expander-item">Time till rotation</div>

</div>
