<% @pcard = current_user.pcards.find_by! card_id: card.multiverseid %>
<% @card = Card.find_by! multiverseid: card.multiverseid %>

<div class="pcard <% if @GetOrders and @GetOrders.to_s.include? @card.name %>is-on-ebay<% end %>" id="card<%= @pcard.id %>">

  <% if card && card.tcg_prices && card.tcg_prices.last && card.tcg_prices.last.avgprice %>

    <div class="pcard-price expanded">

      <a href="" data-expand class="pcard-price-percentage">$<%= card.tcg_prices.last.avgprice %></a>

      <div class="pcard-price-expander">

        <div class="pcard-price-expander-item"><label>Card Spread:</label> <%= getCardSpread(@pcard.price, card.tcg_prices.last.avgprice) if @pcard.price && card.tcg_prices.last.avgprice %></div>

        <div class="pcard-price-expander-item"><label>Currrent Price:</label> $<%= card.tcg_prices.last.avgprice %></div>

        <div class="pcard-price-expander-item"><label>Benchmark Price:</label> $<%= @pcard.price %></div>

        <div class="pcard-price-expander-item"><label>Card High Price:</label> $<%= getCardHigh(card) %></div>

        <div class="pcard-price-expander-item"><label>Card Low Price:</label> $<%= getCardLow(card) %></div>

        <div class="pcard-price-expander-item">Time till rotation</div>

      </div>

    </div>

  <% end %>

  <div class="pcard-amount"><%=@pcard.amount %></div>

  <%= form_for([current_user, @pcard], remote: true, :html => { :class => "edit_pcard"}) do |f| %>

    <a class="cards-card-link" href="<%= card_path(card) %>">

      <img src="<%= card.image_url_normal %>" />

    </a>

    <div class="add-to-collection has-card">

      <%= select_tag("pcard[amount]", options_for_select(1..40, @pcard.amount ), :class => "add-to-collection-amount") %>

    </div>

  <% end %>

  <div class="card-options">

    <%= link_to 'Destroy Card', user_pcard_path(current_user, @pcard), :method => :delete, :remote => true %>

    <% if current_user %>

      <div class="ebay-options expanded">

        <%= link_to "To Ebay >>", { action: "open_modal", :modal => 'send_to_ebay', :multiverseid => card.multiverseid, :controller => "application" }, remote: true, class: 'ebay-options=panel-link mod-send-to-ebay' %>

      </div>

    <% end %>

  </div>

</div>
