<div class="card-set">

  <% @cards.each do |card| %>

      <div class="cards-card" id="card<%= card.multiverseid %>">

        <% @pcard = current_user.pcards.where(card_id: card.multiverseid).take %>

        <a class="cards-card-link" href="<%= card_path(card) %>">

          <img src="<%= card.image_url %>" />

        </a>

        <%= form_for([current_user, @pcard], remote: true) do |f| %>

          <div class="add-to-collection">

            <%= f.text_field :amount %>

            <%= f.submit %>

          </div>

        <% end %>

        <div><%= link_to 'Destroy Comment', user_pcard_path(current_user, @pcard), :method => :delete, :remote => true %></div>

      </div>

  <% end %>

</div>
