<div class="pcard" id="div_new_pcard_<%= card.multiverseid %>">

  <% if @users_cards.include? card.multiverseid %>

    <% @pcard = current_user.pcards.find_by! card_id: card.multiverseid %>

    <div class="pcard-amount"><%=@pcard.amount %></div>

    <%= form_for([current_user, @pcard], remote: true, :html => { :class => "edit_pcard"}) do |f| %>

      <a class="cards-card-link" href="<%= card_path(card) %>">

        <img src="<%= card.image_url %>" />

      </a>

      <div class="add-to-collection">

        <%= select_tag("pcard[amount]", options_for_select(1..10, @pcard.amount ), :class => "add-to-collection-amount") %>

      </div>

    <% end %>

  <% else %>

    <%= form_for([current_user, current_user.pcards.build], remote: true, :authenticity_token => true, :html => { :id => "new_pcard_#{card.multiverseid}"}) do |f| %>

      <a class="cards-card-link" href="<%= card_path(card) %>">

        <img src="<%= card.image_url %>" />

      </a>

      <div class="add-to-collection">

        <label class="add-to-collection-add" for="card_<%= card.multiverseid %>">Add</label>

        <%= check_box_tag "pcard[card_id]", card.multiverseid, false, class: "pcard_checkbox", id: "card_#{card.multiverseid}", data: {id: card.multiverseid } %>

      </div>

    <% end %>

  <% end %>

</div>
