<% pcard = current_user.pcards.find_by! card_id: card.multiverseid %>

<div class="pcard-price"><%= card.tcg_prices.last.avgprice %></div>

<div class="pcard-amount"><%=@pcard.amount %></div>

<%= form_for([current_user, pcard], remote: true) do |f| %>

  <a class="cards-card-link" href="<%= card_path(card) %>">

    <img src="<%= card.image_url %>" />

  </a>

  <div class="add-to-collection has-card">

    <select name='pcard[amount]' class='add-to-collection-amount'>

      <% 40.times do |index, n| %>

        <option><%= index + 1 %></option>

      <% end %>

    </select>

  </div>

<% end %>
