

<section>

  <h2>What sets are in Standard MTG</h2>

  <div class="sets">

    <div class="sets-block">
      <div class="sets-block-set">
        Shadows over Innistrad
        <div><%= image_tag asset_path('soi-symbol.png'), class: 'header-nav-link-image' %></div>
      </div>
      <div class="sets-block-set">
        Welcome Deck 2016
        <div><%= image_tag asset_path('w16-symbol.png'), class: 'header-nav-link-image' %></div>
      </div>
    </div>

    <div class="sets-block">
      <div class="sets-block-set">
        Oath of the Gatewatch
        <div><%= image_tag asset_path('ogw-symbol.png'), class: 'header-nav-link-image' %></div>
      </div>
      <div class="sets-block-set">
        Battle for Zendikar
        <div><%= image_tag asset_path('bfz-symbol.png'), class: 'header-nav-link-image' %></div>
      </div>
    </div>

    <div class="sets-block">
      <div class="sets-block-set">
        Magic Origins
        <div><%= image_tag asset_path('ori-symbol.png'), class: 'header-nav-link-image' %></div>
      </div>
      <div class="sets-block-set">
        Dragons of Tarkir
        <div><%= image_tag asset_path('dtk-symbol.png'), class: 'header-nav-link-image' %></div>
      </div>
    </div>

  </div>

</section>

<h2>What cards are in Standard MTG<h2>

<% @standard.each_with_index do |set, index| %>

  <section data-set-id="<%= index +1 %>">

    <h2>

      <% if set[2] %>
        <%= link_to set[0], set[2] %>
      <% else %>
        <%= set[0] %>
      <% end %>

    </h2>

    <div class="cards">

      <a class="arrow mod-left arrowLeft" href="#">

        <div class="arrow-left">

          left

        </div>

      </a>

      <div class="cards_wrapper">

        <div class="cards-container">

          <% set[1].each do |card| %>

            <div class="cards-card">

              <a href="<%= card_path(card) %>">

                <img src="<%= card.image_url %>" />

              </a>

            </div>

          <% end %>

        </div>

      </div>

      <a class="arrow mod-right arrowRight" href="#">

        <div >

          right

        </div>

      </a>

    </div>

    <%= will_paginate set[1] %>

  </section>

<% end %>
