<section>

  <h2>What sets are in Standard MTG?</h2>

  <div class="sets">

    <div class="sets-block">

      <div class="sets-block-set">

        Shadows over Innistrad

        <div><%= image_tag asset_path('soi-symbol.png'), class: 'header-nav-link-image' %></div>

      </div>

      <div class="sets-block-set">

        Welcome Deck 2016

        <div><%= image_tag asset_path('w16-symbol.png'), class: 'header-nav-link-image' %></div>

      </div>

    </div>

    <div class="sets-block">

      <div class="sets-block-set">

        Oath of the Gatewatch

        <div><%= image_tag asset_path('ogw-symbol.png'), class: 'header-nav-link-image' %></div>

      </div>

      <div class="sets-block-set">

        Battle for Zendikar

        <div><%= image_tag asset_path('bfz-symbol.png'), class: 'header-nav-link-image' %></div>

      </div>

    </div>

    <div class="sets-block">

      <div class="sets-block-set">

        Magic Origins

        <div><%= image_tag asset_path('ori-symbol.png'), class: 'header-nav-link-image' %></div>

      </div>

      <div class="sets-block-set">

        Dragons of Tarkir

        <div><%= image_tag asset_path('dtk-symbol.png'), class: 'header-nav-link-image' %></div>

      </div>

    </div>

  </div>

</section>

<hr />


<h1>What cards are in Standard MTG?</h1>

<section>

  <h2>Standard MTG Cards</h2>

  <h3>
    <%= link_to 'All', root_path %>
     |
    <%= link_to 'White', white_path %>
     |
    <%= link_to 'Blue', blue_path %>
     |
    <%= link_to 'Black', black_path %>
     |
    <%= link_to 'Red', red_path %>
     |
    <%= link_to 'Green', green_path %>
     |
    <%= link_to 'Artifact', artifact_path %>
  </h3>

  <h4>

    <% @mechanics.each do |mechanic| %>

      <%= link_to mechanic.name, mechanic %>

      <% unless mechanic == @mechanics.last %>

       |

      <% end %>

    <% end %>

  </h4>

  <div class="card-set">

    <% @cards.each do |card| %>

      <div class="cards-card">

        <a href="<%= card_path(card) %>">

          <img src="<%= card.image_url %>" />

        </a>

      </div>

    <% end %>

  </div>

  <%= will_paginate @cards %>

</section>
