<% if current_user %>

  <% current_user.attributes.each do |attr_name, attr_value| %>
    <div class="work_profile_attribute">
      <%= attr_name %>: <%= attr_value %>
    </div>
  <% end %>

<% end %>

<hr />

<%= render '/templates/sets' %>

<hr />

<h1>What cards are in Standard MTG?</h1>

<section>

  <%= render '/templates/quick_menu' %>

  <%= render '/templates/search' %>

  <div class="card-set">

    <%= render 'cards' %>

  </div>

  <%= will_paginate @cards %>

</section>
