<%= render 'cards/sets' %>

<hr />

<h1>What cards are in Standard MTG?</h1>

<section>

  <%= render '/templates/quick_menu' %>

  <%= render '/templates/search' %>

  <%= render '/templates/cards' %>

  <%= will_paginate @cards %>

</section>
