<%= render '/templates/sets' %>

<hr />

<h1>What cards are in Standard MTG?</h1>

<%= EbayClient.api.get_ebay_official_time! %>

<section>

  <%= render '/templates/quick_menu' %>

  <%= render '/templates/search' %>

  <div class="card-set">

    <%= render 'cards' %>

  </div>

  <%= will_paginate @cards %>

</section>
