<div class="card">

  <div class="card-info">

    <div class="card-image-container"><%= image_tag (@card.image_url), class: 'card-image' %></div>

    <div class="card-info-container">

      <h1 class="card-info-name"><%= @card.name %></h1>

      <div class="card-info-section">

        <p class="card-info-type">

          <strong>Type:</strong>

          <% @card.types.each_with_index do |type, index| %>

            <%= type %><%= "," unless @card.types.count==index+1 %>

          <% end %>

        </p>

        <p>

        <strong>Subtype<%= "s" unless @card.subtypes.count <= 1 %></strong>

          <% @card.subtypes.each do |type| %>

            <%= type %><%= "," unless type == @card.subtypes.last %>

          <% end %>

        </p>

        <p class="card-info-cmc">

          <strong>CMC:</strong>

          <%= @card.info['manaCost'] %>

        </p>

        <p class="card-info-cmc">

          <strong>Mana Cost:</strong>

          <%= @card.cmc %>

        </p>

        <div><strong>Card Text</strong>:</div>

        <%=raw @card_text %>

        <% if @card.flavor %>

          <p class="card-info-flavor"><em><%= @card.flavor %></em></p>

        <% end %>

      </div>

      <div class="card-info-section">

        <p class="card-info-colors"><strong>Colors:</strong>

        <% @card.colors.each do |color| %>

          <%= color %>

        <% end %>

        </p>

        <p class="card-info-raity-number"><strong>Rarity &amp; Number:</strong> <%= @card.rarity %>, <%= @card.number %></p>

        <p class="card-info-printings">

          <strong>Printings:</strong>

          <% @card.printings.each_with_index do |set, index| %>

            <% set_controller = "#{set.downcase}_path" %>

            <% if @standard.include? MTG::Set.find(set).name %>

              <a href="<%= MTG::Set.find(set).name.downcase.gsub(' ', '-') %>"><%= MTG::Set.find(set).name %></a>
              <%= "," unless @card.printings.count==index+1 %>

            <% else %>

              <%= MTG::Set.find(set).name %><%= "," unless @card.printings.count==index+1 %>

            <% end %>

          <% end %>

        </p>

        <p class="card-info-legalities">

          <strong>Legal formats:</strong>

          <% @card.legalities.each_with_index do |set, index| %>

            <%= set['format'] %><%= "," unless @card.legalities.count==index+1 %>

          <% end %>

        </p>

        <p class="card-info-artist"><strong>Artist:</strong> <%= @card.artist %></p>

      </div>

    </div>

    <% unless @card.rulings.empty? %>

      <div class="card-info-section mod-rulings">

        <hr />

        <h2><%= @card.name %> Rulings</h2>

          <% @card.rulings.each do |ruling| %>

            <p><strong><%= ruling['date'] %>:</strong> <%= ruling['text'] %></p>

          <% end %>

        </div>

    <% end %>


  </div>
