<div class="card">

  <div class="card-info">

    <div class="card-info-section mod-image"><%= image_tag (@card.image_url), class: 'card-image' %></div>

    <div class="card-info-section mod-info">

      <h1 class="card-info-name"><%= @card.name %></h1>

        <p class="card-info-type">

          <strong>Type:</strong>

          <% @card.types.each_with_index do |type, index| %>

            <%= type %><%= "," unless @card.types.count==index+1 %>

          <% end %>

        </p>

        <p>

        <strong>Subtype<%= "s" unless @card.subtypes.count <= 1 %></strong>

          <% @card.subtypes.each do |type| %>

            <%= type %><%= "," unless type == @card.subtypes.last %>

          <% end %>

        </p>

        <p class="card-info-cmc">

          <strong>CMC:</strong>

          <%= @card.info['manaCost'] %>

        </p>

        <p class="card-info-cmc">

          <strong>Mana Cost:</strong>

          <%= @card.cmc %>

        </p>

        <div><strong>Card Text</strong>:</div>

        <%=raw @card_text %>

        <% if @card.flavor %>

          <p class="card-info-flavor"><em><%= @card.flavor %></em></p>

        <% end %>

      </div>

    <div class="card-info-section mod-info">

      <p class="card-info-colors"><strong>Colors:</strong>

        <% @card.colors.each do |color| %>

          <%= color %>

        <% end %>

      </p>

      <p class="card-info-raity-number"><strong>Rarity &amp; Number:</strong> <%= @card.rarity %>, <%= @card.number %></p>

      <p class="card-info-printings">

        <strong>Printings:</strong>

        <% @card.printings.each_with_index do |set, index| %>

          <% set_controller = "#{set.downcase}_path" %>

          <% if $standard.include? MTG::Set.find(set).name %>

            <a href="<%= MTG::Set.find(set).name.downcase.gsub(' ', '-') %>"><%= MTG::Set.find(set).name %></a>
            <%= "," unless @card.printings.count==index+1 %>

          <% else %>

            <%= MTG::Set.find(set).name %><%= "," unless @card.printings.count==index+1 %>

          <% end %>

        <% end %>

      </p>

      <p class="card-info-legalities">

        <strong>Legal formats:</strong>

        <% @card.legalities.each_with_index do |set, index| %>

          <%= set['format'] %><%= "," unless @card.legalities.count==index+1 %>

        <% end %>

      </p>

      <p class="card-info-artist"><strong>Artist:</strong> <%= @card.artist %></p>

    </div>

    <div class="card-info-section mod-links">

      <h2>Card Links</h2>

      <div>

        <p><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=<%= @card.multiverseid %>" target="_blank">Wizards</a></p>

        <p><a href="<%= @card.link %>" target="_blank">TCGPlayer</a></p>

        <% if @card.lowprice? %>

          <p><a href="http://www.cardkingdom.com/mtg/<%= @card.setName.gsub(" ", "-").downcase %>/<%=@card.slug%>" target="_blank">Card Kingdom</a></p>

        <% end %>

      </div>

    </div>

    <% unless @latest_price.blank? %>

      <div class="card-info-section mod-prices">

        <h2>TCG Prices</h2>

        <table>

          <tr>

            <td>Date</td>

            <% @card.tcg_prices.each do |price| %>

              <td><%= price.created_at.strftime("%m/%d/%Y") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Highprice</td>

            <% @card.tcg_prices.each do |price| %>

              <td><%= number_to_currency(price.hiprice, :unit => "$") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Avgprice</td>

            <% @card.tcg_prices.each do |price| %>

              <td><%= number_to_currency(price.avgprice, :unit => "$") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Lowprice</td>

            <% @card.tcg_prices.each do |price| %>

              <td><%= number_to_currency(price.lowprice, :unit => "$") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Avgfoilprice</td>

            <% @card.tcg_prices.each do |price| %>

              <td><%= number_to_currency(price.foilavgprice, :unit => "$") %></td>

            <% end %>

          </tr>

        </table>

      </div>

    <% end %>

    <% unless @card.rulings.empty? %>

      <div class="card-info-section mod-rulings">

        <hr />

        <h2><%= @card.name %> Rulings</h2>

          <% @card.rulings.each do |ruling| %>

            <p><strong><%= ruling['date'] %>:</strong> <%= ruling['text'] %></p>

          <% end %>

        </div>

    <% end %>


  </div>
