<% image = eval(@card.images) %>

<div class="card">

  <div class="card-info">

    <div class="card-info-section mod-image">

      <%= image_tag(image['normal'], class: 'card-image') %>

    </div>

    <div class="card-info-section mod-info">

      <h1 class="card-info-name"><%= @card.name %></h1>

        <p class="card-info-type">

          <strong>Type:</strong> <%= @card.type_line %>

        </p>

        <p class="card-info-cmc">

          <strong>CMC:</strong>

          <%= @card.cmc %>

        </p>

        <p class="card-info-set">

          <strong>Set:</strong>

          <%= @card.set_name %>

        </p>

        <p class="card-info-cmc">

          <strong>Mana Cost:</strong>

          <%= @card.cmc %>

        </p>

        <div><strong>Card Text</strong>:</div>

        <%=simple_format(@card_text)%>

        <% if @card.flavor_text %>

          <p class="card-info-flavor"><em><%= @card.flavor_text %></em></p>

        <% end %>

      </div>

    <div class="card-info-section mod-info">

      <p class="card-info-colors"><strong>Colors:</strong>

        <% @card.colors.each do |color| %>

          <%= color %>

        <% end %>

      </p>

      <p class="card-info-raity-number">

        <strong>Rarity &amp; Number:</strong> <%= @card.rarity %>, <%= @card.collection_number %>

      </p>

      <p class="card-info-artist"><strong>Artist:</strong> <%= @card.artist %></p>

    </div>

    <div class="card-info-section mod-links">

      <h2>Card Links</h2>

      <div>

        <p><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=<%= @card.multiverseid %>" target="_blank">Wizards</a></p>

        <p><a href="<%= @card.link %>" target="_blank">TCGPlayer</a></p>

        <% if @card.lowprice? %>

          <p><a href="http://www.cardkingdom.com/mtg/<%= @card.set_name.gsub(" ", "-").downcase %>/<%=@card.slug%>" target="_blank">Card Kingdom</a></p>

        <% end %>

      </div>

    </div>

    <% unless @latest_price.blank? %>

      <div class="card-info-section mod-prices">

        <h2>TCG Prices</h2>

        <%= link_to 'Get Current Auctions', {action: "ebayRequest", controller: 'application', keywords: @card.name}, :remote => true %>

        <table>

          <tr>

            <td>Date</td>

            <% @card_prices.each do |price| %>

              <td><%= price.created_at.strftime("%m/%d/%Y") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Highprice</td>

            <% @card_prices.each do |price| %>

              <td><%= number_to_currency(price.hiprice, :unit => "$") %></td>

            <% end %>

          </tr>

          <tr>

            <td><strong>Avgprice</strong></td>

            <% @card_prices.each do |price| %>

              <td><%= number_to_currency(price.avgprice, :unit => "$") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Lowprice</td>

            <% @card_prices.each do |price| %>

              <td><%= number_to_currency(price.lowprice, :unit => "$") %></td>

            <% end %>

          </tr>

          <tr>

            <td>Avgfoilprice</td>

            <% @card_prices.each do |price| %>

              <td><%= number_to_currency(price.foilavgprice, :unit => "$") %></td>

            <% end %>

          </tr>

        </table>

      </div>

    <% end %>

    <% unless @card.rulings.empty? %>

      <div class="card-info-section mod-rulings">

        <hr />

        <h2><%= @card.name %> Rulings</h2>

        <% @card.rulings.each do |ruling| %>

          <p><strong><%= ruling['date'] %>:</strong> <%= ruling['text'] %></p>

        <% end %>

      </div>

    <% end %>


  </div>
