<div class="pcard" id="div_new_pcard_<%= card.multiverseid %>">

  <% if @users_cards.include? card.multiverseid %>

    <% @pcard = current_user.pcards.find_by! card_id: card.multiverseid %>

    <% if card && card.tcg_prices && card.tcg_prices.last && card.tcg_prices.last.avgprice %>

      <div class="pcard-price"><%= card.tcg_prices.last.avgprice %></div>

    <% end %>

    <div class="pcard-amount"><%=@pcard.amount %></div>

    <% if card.recent_ebay_purchases %><div class="pcard-ebay-amount"><%=card.recent_ebay_purchases %></div><% end %>

    <%= form_for([current_user, @pcard], remote: true, :html => { :class => "edit_pcard"}) do |f| %>

      <a class="cards-card-link" href="<%= card_path(card) %>">

        <img src="<%= card.image_url %>" />

      </a>

      <div class="add-to-collection has-card">

        <%= select_tag("pcard[amount]", options_for_select(1..20, @pcard.amount ), :class => "add-to-collection-amount") %>

      </div>

    <% end %>

  <% else %>

    <%= form_for([current_user, current_user.pcards.build], remote: true, :authenticity_token => true, :html => { :id => "new_pcard_#{card.multiverseid}"}) do |f| %>

      <a class="cards-card-link" href="<%= card_path(card) %>">

        <% if card && card.tcg_prices && card.tcg_prices.last && card.tcg_prices.last.avgprice %><div class="pcard-price"><%= number_to_currency(card.tcg_prices.last.avgprice, :unit => "$") %></div><% end %>

        <% if card.recent_ebay_purchases %><div class="pcard-ebay-amount"><%=card.recent_ebay_purchases %></div><% end %>

        <img src="<%= card.image_url %>" />

      </a>

      <div class="add-to-collection">

        <label class="add-to-collection-add" for="card_<%= card.multiverseid %>">Add</label>

        <% if card && card.tcg_prices && card.tcg_prices.first && card.tcg_prices.first.avgprice %>

          <%= hidden_field_tag "pcard[price]", card.tcg_prices.first.avgprice %>

        <% end %>

        <%= check_box_tag "pcard[card_id]", card.multiverseid, false, class: "pcard_checkbox", id: "card_#{card.multiverseid}", data: {id: card.multiverseid } %>

        <select name='pcard[amount]' class='add-to-collection-amount card_<%= card.multiverseid %>'>

           <option>Select Amount</option>

           <% 40.times do |index, n| %>

             <option><%= index + 1 %></option>

           <% end %>

        </select>

      </div>

    <% end %>

  <% end %>

</div>
