
<h1>What cards are in <%= @standard.name %>?</h1>

<section>

  <h2><%= @standard.name %> Cards</h2>

  <p>If you were to purchase this entire set for its low price on TCG Player it would cost you. <%= @t_cards.pluck(:lowprice).compact.sum %></p>

  <div class="card-set">

    <%= render 'templates/cards', :cards => @cards %>

  </div>

  <%= will_paginate @cards %>

</section>
