
<h1>What cards are in <%= @standard.name %>?</h1>

<section>

  <h2><%= @standard.name %> Cards</h2>

  <p>If you were to purchase this entire set for its low price on TCG Player it would cost you. <%= @t_cards.pluck(:lowprice).compact.sum %></p>

  <p>The 10 most expensive cards are. </p>

  <ul>

    <% @last_ten.first(10).each do |card| %>

      <li><%= link_to card.name, card %> | <%= card.lowprice %></li>

    <% end %>

  </ul>

  <div class="card-set">

    <%= render 'cards' %>

  </div>

  <%= will_paginate @cards %>

</section>
