
<h1>What cards are in Dragons of Tarkir?</h1>

<section>

  <h2>Dragons of Tarkir</h2>

  <h3>

    <%= link_to 'All', dtk_index_path %>

     |

    <%= link_to 'White', dragons_of_tarkir_white_path %>

     |

    <%= link_to 'Blue', dragons_of_tarkir_blue_path %>

     |

    <%= link_to 'Black', dragons_of_tarkir_black_path %>

     |

    <%= link_to 'Red', dragons_of_tarkir_red_path %>

     |

    <%= link_to 'Green', dragons_of_tarkir_green_path %>

    |

   <%= link_to 'Artifact', dragons_of_tarkir_artifact_path %>

  </h3>

  <div class="card-set">

    <%= render 'templates/cards', :cards => @emn_cards %>

  </div>

  <%= will_paginate @dtk_cards %>

</section>
