<%= form_for @subtype do |f| %>

  <% if @subtype.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@subtype.errors.count, "error") %> prohibited
        this subtype from being saved:
      </h2>
      <ul>
        <% @subtype.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
