
<h1>What <%= @subtype.name %> cards are in Standard MTG?</h1>

<section>

  <h2>Standard <%= @subtype.name %> Cards</h2>

  <div class="search">

    <%= search_form_for @search do |f| %>

      <div class="search-input">

        <%= f.label :info_cont, " Search" %>

        <%= f.text_field :info_cont %>

        <div class="actions"><%= f.submit "submit" %> </div> |

        <a class="advanced" href="#advanced">Advanced +</a>

      </div>

      <div class="advanced-search expanded">

        <div class="search-colors">

          <% $colors.each do |color| %>

            <%= check_box_tag('q[colors_cont_any][]', color[:color]) %>

            <%= color[:color] %>

          <% end %>

        </div>

        <div class="search-subtypes">

          <% @subtypes.each do |subtype|   %>

            <div class='search-subtypes-subtype'>

              <%= check_box_tag("q[subtypes_cont_any][]", subtype.name) %>

              <%= subtype.name %>

            </div>

          <% end %>

        </div>

      </div>

    <% end %>

  </div>
  
  <div class="card-set">

    <% @cards.each do |card| %>

      <div class="cards-card">

        <a href="<%= card_path(card) %>">

          <img src="<%= card.image_url %>" />

        </a>

      </div>

    <% end %>

  </div>

  <%= will_paginate @cards %>

</section>
