<!DOCTYPE html>
<html>
<head>
  <!-- google webmaster tools varification -->
  <meta name="google-site-verification" content="HyxIsBX6LYrw_lxC8cC7mXktC2kbjBN05se15EM-j8Y" />

  <title><%= @title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, height=device-height">

  <!-- googel analytics code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79651004-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>

<header>

  <nav class="header-nav expanded">

    <div class="header-nav-home">

      <%= link_to 'Home', root_path, class: 'header-nav-link' %>

      <span class="header-nav-open"><%= link_to image_tag( asset_path('menu.png'), class: 'header-nav-open-image'), "#open-mobile-menu-link", id: 'openMobileMenuLink' %></span>

    </div>


      <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

      <div>

        <a href="<%= emn_index_path %>" class="header-nav-link">

          <span class="header-nav-link-text">Edlritch Moon</span>

          <span class="header-nav-link-text-small">EMN</span>

          <span><%= image_tag asset_path('soi-symbol.png'), class: 'header-nav-link-image' %></span>

        </a>

      </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= soi_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Shadows Over Innistrad</span>

        <span class="header-nav-link-text-small">SOI</span>

        <span><%= image_tag asset_path('soi-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= w16_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Welcome Deck 2016</span>

        <span class="header-nav-link-text-small">W16</span>

        <span><%= image_tag asset_path('/w16-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= ogw_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Oath of the Gatewatch</span>

        <span class="header-nav-link-text-small">OGW</span>

        <span><%= image_tag asset_path('ogw-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= bfz_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Battle for Zendikar</span>

        <span class="header-nav-link-text-small">BFZ</span>

        <span><%= image_tag asset_path('bfz-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= ori_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Magic Origins</span>

        <span class="header-nav-link-text-small">ORI</span>

        <span><%= image_tag asset_path('ori-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= dtk_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Dragons of Tarkir</span>

        <span class="header-nav-link-text-small">DTK</span>

        <span><%= image_tag asset_path('dtk-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

  </nav>

</header>

<main>

  <div class="body">

    <%= yield %>

  </div>

</main>

</body>

</html>
