<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>


  <nav class="header-nav">

    <div class="header-nav-home">

      <%= link_to 'Home', root_path, class: 'header-nav-link' %>

      <span class="header-nav-open"><%= link_to image_tag( asset_path('menu.png'), class: 'header-nav-open-image'), "#open-mobile-menu-link", id: 'openMobileMenuLink' %></span>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= soi_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Shadows Over Innistrad</span>

        <span class="header-nav-link-text-small">SOI</span>

        <span><%= image_tag asset_path('soi-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= w16_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Welcome Deck 2016</span>

        <span class="header-nav-link-text-small">W16</span>

        <span><%= image_tag asset_path('/w16-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= ogw_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Oath of the Gatewatch</span>

        <span class="header-nav-link-text-small">OGW</span>

        <span><%= image_tag asset_path('ogw-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= bfz_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Battle for Zendikar</span>

        <span class="header-nav-link-text-small">BFZ</span>

        <span><%= image_tag asset_path('bfz-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= ori_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Magic Origins</span>

        <span class="header-nav-link-text-small">ORI</span>

        <span><%= image_tag asset_path('ori-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>

      <a href="<%= dtk_index_path %>" class="header-nav-link">

        <span class="header-nav-link-text">Dragons of Tarkir</span>

        <span class="header-nav-link-text-small">DTK</span>

        <span><%= image_tag asset_path('dtk-symbol.png'), class: 'header-nav-link-image' %></span>

      </a>

    </div>

  </nav>

</header>

<main>

  <div class="body">

    <%= yield %>

  </div>

</main>

</body>

</html>
