<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

  <nav class="header-nav">

    <div>
      <%= link_to 'Home', root_path, class: 'header-nav-link' %>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= soi_index_path %>" class="header-nav-link">

        Shadows Over Innistrad

        <%= image_tag asset_path('soi-symbol.png'), class: 'header-nav-link-image' %>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= w16_index_path %>" class="header-nav-link">

        Welcome Deck 2016

        <%= image_tag asset_path('/w16-symbol.png'), class: 'header-nav-link-image' %>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= ogw_index_path %>" class="header-nav-link">

        Oath of the Gatewatch

        <%= image_tag asset_path('ogw-symbol.png'), class: 'header-nav-link-image' %>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= bfz_index_path %>" class="header-nav-link">

        Battle for Zendikar

        <%= image_tag asset_path('bfz-symbol.png'), class: 'header-nav-link-image' %>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= ori_index_path %>" class="header-nav-link">

        Magic Origins

        <%= image_tag asset_path('ori-symbol.png'), class: 'header-nav-link-image' %>

      </a>
    </div>

    <%= image_tag asset_path('menu-bar.png'), class: 'header-nav-bar' %>

    <div>
      <a href="<%= dtk_index_path %>" class="header-nav-link">

        Dragons of Tarkir

        <%= image_tag asset_path('dtk-symbol.png'), class: 'header-nav-link-image' %>

      </a>
    </div>

  </nav>

</header>

<main>

  <div class="body">

    <%= yield %>

  </div>

</main>

</body>

</html>
